@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Inter&display=swap");
.menuNav__link {
  text-decoration: none;
  padding: 20px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.menuNav__link:hover, .menuNav__link:focus {
  color: black;
  font-size: 37PX;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.menuNav__link {
  font-family: "Henny Penny", cursive;
  font-size: 35px;
  color: black;
}

.btnType1 {
  text-decoration: none;
  font-family: "Ibarra Real Nova", serif;
  color: #7f0a0a;
  font-size: 25px;
  border: none;
  font-style: italic;
  font-weight: 600;
}

.btnType1:hover, .btnType1:focus {
  text-decoration: underline;
  color: #b80d0d;
}

#sectionTransformation, #sectionMosaique, #sectionAccordion, #sectionMoralityHistory, #sectionActors, #sectionImgFilm, #sectionPresentation {
  padding-top: 50px;
  padding-bottom: 50px;
}

.accordion__item {
  background-color: #9fccb5;
  color: black;
  font-family: "Roboto", sans-serif;
}

.accordion__item:hover, .accordion__item:focus {
  background-color: #c29c5a;
  color: black;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 18px;
  background-color: #9fccb5;
}

img {
  max-width: 100%;
}

h2 {
  color: black;
  font-family: "Henny Penny", cursive;
  margin-bottom: 30px;
}

span, h4 {
  font-style: italic;
}

.title--green {
  color: #9fccb5;
}

.btnType1 {
  margin: 0;
}
.lineStyle {
  border: 1px solid #c29c5a;
  margin-top: 100px;
}

.socialImg__size {
  width: 40px;
  height: 40px;
}

.logo {
  width: 200px;
}

header {
  width: 100%;
  margin: auto;
  color: white;
}

.sectionBackground1 {
  background-image: linear-gradient(to top, #9fccb5, #c29c5a);
}

.menuNav__link {
  margin: 10px;
  display: flex;
  align-items: baseline;
}
.nav__btnResponsive {
  color: black;
  outline: none;
}

footer {
  background: #c29c5a;
}

.addressInfo__item {
  color: black;
  text-decoration: none;
}

.addressInfo--margin {
  margin-left: 30px;
}

.footer__line {
  border: 1px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
}

.carousel__frame {
  max-height: 300px;
}

#sectionImgFilm {
  background-color: black;
  color: #9fccb5;
}

.illustrationFilm__img {
  height: 230px;
  width: 100%;
}

.email__btn {
  background-color: #c29c5a;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.email__btn:hover {
  background-color: #e0bb7a;
}
.email__btn:focus {
  background-color: #e0bb7a;
}

#sectionActors {
  background-color: black;
  color: #9fccb5;
}

.cardActor {
  background-color: black;
  color: #9fccb5;
  border: none;
  width: 100%;
  padding: 10px;
}

.cardActor__img {
  border-radius: 100px;
  height: 300px;
  width: 200px;
  border: 1px solid;
}

#sectionMoralityHistory {
  background-color: black;
  color: #9fccb5;
}

.imgMorality {
  width: 100%;
}

#sectionAccordion {
  background-color: black;
  color: #9fccb5;
}

.accordion__item {
  font-size: 18px;
  font-weight: 600;
}
#sectionMosaique {
  background-color: black;
}

#sectionTransformation {
  background-color: black;
  color: #9fccb5;
}/*# sourceMappingURL=style.css.map */