@use 'variables';
@use 'typography';


#sectionActors {
    @extend%sectionPadding;
    background-color: variables.$color-black;
    color: variables.$color-green;
}

.cardActor {
    background-color: variables.$color-black;
    color: variables.$color-green;
    border: none;
    width: 100%;
    padding: 10px;
}

.cardActor__img {
    border-radius: 100px;
    height: 300px;
    width: 200px;
    border: 1px solid;
}
