@use 'variables';


%menuNavlink {
    text-decoration: none;
    padding: 20px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

%menuNavlinkhover {
    color: black;
    font-size: 37PX;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}

%font-fam2 {
    font-family: variables.$font-fam2;
    font-size: 35px;
    color: variables.$color-black;
}


%bodyBtn1 {
    text-decoration: none;
    font-family: variables.$font-fam1;
    color: variables.$color-red;
    font-size: 25px;
    border: none;
    font-style: italic;
    font-weight: 600;
}

%bodyBtn1hover {
    text-decoration: underline;
    color: variables.$color-red2;
}

%sectionPadding {
    padding-top: variables.$section-paddingTop;
    padding-bottom: variables.$section-paddingBottom;
}

%accordionItem {
    background-color: variables.$color-green;
    color: variables.$color-black;
    font-family: variables.$font-fam3;
}

%accordionItemHover {
    background-color: variables.$color-yellow;
    color: variables.$color-black;
    font-family: variables.$font-fam3;
}