@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Inter&display=swap');

$color-degrade:linear-gradient(to top, #9fccb5, #c29c5a);;
$color-black:black;
$color-white:white;
$color-green:#9fccb5;
$color-yellow:#c29c5a;
$color-yellow2:#e0bb7a;
$color-red2:#b80d0d;
$color-red:#7f0a0a;

$font-fam1: 'Ibarra Real Nova', serif;
$font-fam2: 'Henny Penny', cursive;
$font-fam3:'Roboto', sans-serif;

$section-paddingTop: 50px;
$section-paddingBottom: 50px;


$background-1 : url('../img/background-img.jpg');
$background-2: #262425;
